.about {
  display: flex;
}

.about:before,
.about__desc {
  border-radius: 5px;
}

.about:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url("../../img/content/gates.jpg") center center / cover no-repeat;
  margin-top: 31px;
}

.about__desc {
  position: relative;
  display: flex;
  min-height: 455px;
  max-width: 785px;
  margin-top: 128px;
  margin-left: -135px;
}

.about__content {
  position: relative;
  padding: 70px 204px 66px 81px;
  color: #000000;
}

.about__desc-text {
  margin-bottom: 59px;
  line-height: 27px;
  color: #060606;
}

.about__desc-text p:last-child {
  margin-bottom: 0px;
}

.about__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 38px;
}

.about__content a {
  color: #fff;
}